.app {
  display: flex;
  justify-content: space-evenly;
}

.app__left {
  flex: 0.8;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.app__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.app__search {
  background-color: #ececec;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 20px 0;
  z-index: 9999;
  width: 90%;
  top: 0;
  position: absolute;
}

.app__search .MuiSvgIcon-root {
  margin: 0 12px;
}

.app__search form {
  width: 100%;
  display: flex;
}

.app__search  input {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  flex-grow: 1;
  border: 0;
  padding: 10px;
  user-select: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: rgb(71, 71, 71);
  letter-spacing: 1.5px;
}

.app__search  input:focus {
  outline: none;
}

.app__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}



.app__right {
  display: flex;
  flex-direction: column;
  flex: 0.2;
}

.app__rightContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
}
.app__rightContainer > h3 {
  text-align: center;
  font-weight: 500;
}
.app__graphTitle {
  margin: 20px 0;
}

/* Map */

.map {
  min-width: 300px;
  height: 800px;
  margin-top: 32px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map > div {
  border-radius: 12px;
}

@media (max-height: 900px) {
  .map {
    height: 70%;
  }
}

.map .leaflet-container {
  height: 100%;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 18px;
  margin-top: 5px;
}

.app__graph {
  flex-grow: 1;
  width: 100%;
}

.linegraph {
  width: 500px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}